# Is India Really Growing?
## GDP Growth vs Quality of Life (1990–2014 vs 2014–2024)

This project aims to analyze whether India's economic growth has translated into proportional improvements in quality-of-life indicators.

The analysis compares two periods:
- **1990–2014** (pre-structural policy shift)
- **2014–2024** (post-structural policy shift)

Data sources include the World Bank and Government of India, focusing on economic and social indicators such as GDP, GDP per capita, poverty, unemployment, literacy, and inflation.

In [25]:
import pandas as pd
import numpy as np

In [26]:
import pandas as pd

df_raw = pd.read_csv("data/raw/world_bank_india_data.csv")
df_raw.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.209790e+11,2.701053e+11,2.882081e+11,2.792956e+11,3.272748e+11,3.602819e+11,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.346107e+12,3.638489e+12,3.909892e+12
1,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,3.710859e+02,3.055741e+02,3.191825e+02,3.028848e+02,3.477342e+02,3.751760e+02,...,1.583998e+03,1.707509e+03,1.950105e+03,1.966255e+03,2.041429e+03,1.907043e+03,2.239614e+03,2.347448e+03,2.530120e+03,2.694738e+03
2,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,8.971233e+00,1.387025e+01,1.178782e+01,6.326890e+00,1.024794e+01,1.022489e+01,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,4.953036e+00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Clean column names
df = df_raw.copy()

df.columns = (
    df.columns
      .str.replace(r"\s*\[YR\d{4}\]", "", regex=True)
      .str.strip()
)

df.head()

,Country Name,Country Code,Series Name,Series Code,1990,1991,1992,1993,1994,1995,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.209790e+11,2.701053e+11,2.882081e+11,2.792956e+11,3.272748e+11,3.602819e+11,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.346107e+12,3.638489e+12,3.909892e+12
1,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,3.710859e+02,3.055741e+02,3.191825e+02,3.028848e+02,3.477342e+02,3.751760e+02,...,1.583998e+03,1.707509e+03,1.950105e+03,1.966255e+03,2.041429e+03,1.907043e+03,2.239614e+03,2.347448e+03,2.530120e+03,2.694738e+03
2,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,8.971233e+00,1.387025e+01,1.178782e+01,6.326890e+00,1.024794e+01,1.022489e+01,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,4.953036e+00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
id_cols = ["Country Name", "Series Name"]
year_cols = [col for col in df.columns if col.isdigit()]

df = df[id_cols + year_cols]
df

,Country Name,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,India,GDP (current US$),3.209790e+11,2.701053e+11,2.882081e+11,2.792956e+11,3.272748e+11,3.602819e+11,3.928969e+11,4.158676e+11,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.346107e+12,3.638489e+12,3.909892e+12
1,India,GDP per capita (current US$),3.710859e+02,3.055741e+02,3.191825e+02,3.028848e+02,3.477342e+02,3.751760e+02,4.010468e+02,4.162281e+02,...,1.583998e+03,1.707509e+03,1.950105e+03,1.966255e+03,2.041429e+03,1.907043e+03,2.239614e+03,2.347448e+03,2.530120e+03,2.694738e+03
2,India,"Inflation, consumer prices (annual %)",8.971233e+00,1.387025e+01,1.178782e+01,6.326890e+00,1.024794e+01,1.022489e+01,8.977152e+00,7.164252e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,4.953036e+00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Last Updated: 01/28/2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_long = df.melt(
    id_vars=["Country Name", "Series Name"],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

df_long["Year"] = df_long["Year"].astype(int)
df_long.head()

  Country Name                            Series Name  Year         Value
0        India                      GDP (current US$)  1990  3.209790e+11
1        India           GDP per capita (current US$)  1990  3.710859e+02
2        India  Inflation, consumer prices (annual %)  1990  8.971233e+00
3          NaN                                    NaN  1990           NaN
4          NaN                                    NaN  1990           NaN

In [30]:
pre_2014 = df_long[(df_long["Year"] >= 1990) & (df_long["Year"] <= 2014)]
post_2014 = df_long[(df_long["Year"] >= 2015) & (df_long["Year"] <= 2024)]

pre_2014.head(), post_2014.head()

(  Country Name                            Series Name  Year         Value
 0        India                      GDP (current US$)  1990  3.209790e+11
 1        India           GDP per capita (current US$)  1990  3.710859e+02
 2        India  Inflation, consumer prices (annual %)  1990  8.971233e+00
 3          NaN                                    NaN  1990           NaN
 4          NaN                                    NaN  1990           NaN,
     Country Name                            Series Name  Year         Value
 200        India                      GDP (current US$)  2015  2.103588e+12
 201        India           GDP per capita (current US$)  2015  1.583998e+03
 202        India  Inflation, consumer prices (annual %)  2015  4.906973e+00
 203          NaN                                    NaN  2015           NaN
 204          NaN                                    NaN  2015           NaN)

In [31]:
df_long = df_long.dropna(subset=["Country Name", "Series Name", "Value"])

In [32]:
pre_2014 = df_long[(df_long["Year"] >= 1990) & (df_long["Year"] <= 2014)]
post_2014 = df_long[(df_long["Year"] >= 2015) & (df_long["Year"] <= 2024)]

In [33]:
df_long["Year"].nunique()

35

In [34]:
df_long["Year"].min(), df_long["Year"].max()

(1990, 2024)

In [35]:
df_long.sample(10)

    Country Name                            Series Name  Year         Value
250        India  Inflation, consumer prices (annual %)  2021  5.131407e+00
72         India                      GDP (current US$)  1999  4.588211e+11
226        India  Inflation, consumer prices (annual %)  2018  3.938826e+00
201        India           GDP per capita (current US$)  2015  1.583998e+03
144        India                      GDP (current US$)  2008  1.198895e+12
208        India                      GDP (current US$)  2016  2.294797e+12
249        India           GDP per capita (current US$)  2021  2.239614e+03
185        India           GDP per capita (current US$)  2013  1.432844e+03
66         India  Inflation, consumer prices (annual %)  1998  1.323084e+01
217        India           GDP per capita (current US$)  2017  1.950105e+03

In [36]:
import os

os.makedirs("data/processed", exist_ok=True)

df_long.to_csv("data/processed/india_macro_clean_1990_2024.csv", index=False)
print("Master dataset saved ✅")

Master dataset saved ✅